html * {
  font-family: 'Advent pro';
}

body {
  margin: 0;
}

p,
h2 {
  margin: 0;
  padding: 0;
}

.MuiBox-root .MuiPaper-root {
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.85);
}



/* .one-container {
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: flex-start;
  } */

.card-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.one-item-one {
  order: 0;
  /* flex: 0 1 auto; */
  width: 22vw;
  align-self: flex-start;
  padding: 1vw;
  margin: 0;
}

.one-item-two {
  order: 0;
  width: 50vw;
  align-self: flex-end;
  margin-bottom: 0;
  padding: 1vw;
}

.card {
  backdrop-filter: blur(1px) saturate(168%);
  -webkit-backdrop-filter: blur(1px) saturate(168%);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  /* border: 1px solid rgba(255, 255, 255, 0.125); */
}

#section-two {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-size: 10vmin;
  color: hsla(0, 0%, 100%, .8);
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
  font-size: 2vw;
}

#left-cont {
  height: 100%;
  width: 50%;
  flex-direction: column;
}
#left-two-top {
  background-image: url('assets/images/outer-limits-2.jpg');
  background-position: center;
  background-size: cover;

  height: 70%;
}

#left-two-bottom {
  height: 30%;
  color:black;
}
#right-two {
  background-color: rgb(54, 83, 92);
  width: 50%;
  height: 100%;
}

#first-section {
  background-image: url('assets/images/j-tree.jpg');
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-size: 10vmin;
  padding-top: 10vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
  color: hsla(0, 0%, 100%, .8);
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
  font-size: 2vw;
}

/* #second-section {
  background-image: url('https://source.unsplash.com/jWskS_wLMDo/1920x1080');
} */

#third-section {
  background-image: url('https://source.unsplash.com/O6vaYviRDoo/1920x1080');
}

#fourth-section {
  background-image: url('https://source.unsplash.com/vPOYZac2hiE/1920x1080');
}

#indicator {
  position: absolute;
  top: 0px;
  left: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#indicator>div {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

#indicator>div.active {
  transform: scale(1.6);
}