html * {
  font-family: 'Manrope', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/* Nav style */
.MuiBox-root .MuiPaper-root {
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.85);

}

.MuiToolbar-root .MuiTypography-root {
  font-weight: bold;
  font-size: 3vw;
  color: rgb(149, 134, 134);
}

.MuiToolbar-root .MuiButton-root {
  font-size: 1.5vw;
  font-weight: bold;
  color: rgb(149, 134, 134);
}

/* Section one style */
#first-section {
  background-image: url('assets/images/j-tree.jpg');
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

#home-title {
  text-align: center;
  color: rgb(149, 134, 134);
  margin-top: 30vh;
}

#home-title h2 {
  font-size: 5vw;
}

#home-title h3 {
  font-size: 3vw;
}

.arrow {
  color: rgb(149, 134, 134);
  margin-top: auto;
  margin-bottom: 0;
  padding: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce {
  animation-name: bounce-2;
  animation-timing-function: ease;
}
@keyframes bounce-2 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.card {
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.85);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

#section-two {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  overflow: hidden;
  font-size: 10vmin;
  color: hsla(0, 0%, 100%, .8);
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
  font-size: 2vw;
}

/* .proj-section {
 
} */
/* .proj-scroll {
  width: 45vw;
} */

.proj-scroll img {
  width: 90%;
  height: auto;
}

.section-two-cont {
  height: 100%;
  width: 50%;
  flex-direction: column;
}

#left-two-top {
  background-image: url('assets/images/outer-limits-2.jpg');
  background-position: center;
  background-size: cover;

  height: 70%;
}

#left-two-bottom {
  height: 30%;
  color: black;
}

#right-two {
  background-color: rgb(54, 83, 92);
  width: 50%;
  height: 100%;
}



/* #second-section {
  background-image: url('https://source.unsplash.com/jWskS_wLMDo/1920x1080');
} */

#third-section {
  background-image: url('https://source.unsplash.com/O6vaYviRDoo/1920x1080');
}

#fourth-section {
  background-image: url('https://source.unsplash.com/vPOYZac2hiE/1920x1080');
}

#indicator {
  position: absolute;
  top: 0px;
  left: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#indicator>div {
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

#indicator>div.active {
  transform: scale(1.6);
}