html * {
  font-family: 'Roboto Mono', monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: rgb(149, 134, 134);
  overflow: hidden;
}

p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/* Nav style */
.MuiBox-root .MuiPaper-root {
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.85);
}

.MuiPaper-root .MuiToolbar-root {
  min-height: 8vh;
}

.MuiToolbar-root .MuiTypography-root {
  font-weight: bold;
  font-size: 3vw;
}

.MuiToolbar-root .MuiButton-root {
  font-size: 1.5vw;
  font-weight: bold;
  color: rgb(149, 134, 134);
}

.page-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.section {
  height: 100%;
  width: 100%;
  display: flex;
}

/* Section one style */
#first-section {
  background-image: url('assets/images/j-tree.jpg');
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}


#home-title {
  text-align: center;
  margin-top: 30vh;
}

#home-title h2 {
  font-size: 5vw;
}

#home-title h3 {
  font-size: 3vw;
}

.arrow {
  margin-top: auto;
  margin-bottom: 0;
  padding: 0;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce {
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-18px);
  }

  100% {
    transform: translateY(0);
  }
}

.first {
  position: absolute;
}

/* End Section one style */

/* Section Two Style */
#section-two {
  background-color: #2F4858;
  height: 100vh;
}

.about-card {
  height: 30vw;
  width: 30vw;
}

.about-card img {
  width: 100%;
  height: 100%;
}

.two-top-cont {
  margin-top: 8vh;
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.two-bottom-cont {
  height: 42vh;
  margin: 0vw 10vw;
}

.two-bottom-cont h2 {
  font-size: 2.5vw;
}

.two-bottom-cont p {
  font-size: 1.7vw;
}

.typed-out {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation:
    typing 1s steps(20, end) forwards;
}

.type-cont {
  display: inline-block;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

.fade-in-text {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* End Section Two Style */

/* Section Three Style */
#section-three {
  background-color: #2F4858;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.three-scroll-cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

.three-scroll-sect {
  margin-top: 8vh;
  height: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.proj-card {
  height: 45vw;
  width: 60vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proj-card img {
  height: 45vw;
  width: 60vw;
  border-radius: 10px;
  margin-bottom: 2vw;
}

.proj-card h2 {
  text-align: center;
  width: 60vw;
  padding-bottom: .5vw;
  border-bottom: 2px solid rgb(149, 134, 134);
}


.three-scroll-sect-bottom {
  height: 32vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.info-card {
  height: 30vh;
  width: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.info-card h3 {
  text-align: center;
  width: 10vw;
  padding-bottom: .5vw;
  border-bottom: 2px solid rgb(149, 134, 134);
}
/* Section Three Style End */

/* Section Four Style */
#fourth-section {
  background-image: url('assets/images/redRockSun.jpg');height: 100vh;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/* Media Queries */
@media only screen and (max-width: 1025px) {
  .proj-card {
    height: 34vw;
    width: 34vw;
    min-width: 250px;
  }

  .MuiToolbar-root .MuiButton-root {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 769px) {
  .proj-card {
    height: 40vw;
    width: 40vw;
    min-width: 200px;
  }

  .MuiToolbar-root .MuiTypography-root {
    font-size: 3.7vw;
  }

  .MuiToolbar-root .MuiButton-root {
    font-size: 2.4vw;
    /* padding: 2px 4px; */
    min-width: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .proj-card {
    height: 45vw;
    width: 45vw;
    min-width: 150px;
  }

  .MuiToolbar-root .MuiTypography-root {
    font-size: 5vw;
  }

  .MuiToolbar-root .MuiButton-root {
    font-size: 2.8vw;
    min-width: 40px;
  }
}